* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
  color: white !important;
}

/*Dark mode thin scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
